<!DOCTYPE html>
<html>
<head>
<title>Subscribe</title>
<link rel="stylesheet" href="style.css">

<p id="demo"></p>
</head>

<body>

  <div class=title>
    <p><br>Music Revelation</br></p>
  </div>



<div class=topBloc>
  <a class=a1 href="home.html">Home</a>
  <a class=a2 href="search.html">Search</a>
  <a class=a3 href="logOut.html">Log Out</a>

</div>




<div class=unsplit_bodyBloc>
  <form action="/subscribe.html" method="post">
      <div style="padding-top:40px; padding-bottom:5px;">
          <label>Name:</label>
          {{name}}
      </div>

      <div style="padding-top:40px; padding-bottom:5px;">
          <label>Username:</label>
          {{username}}
  </div>

      <div style="padding-bottom:5px;">
          <label>First Name:</label>
          {{firstName}}
  </div>

      <div style="padding-bottom:5px;">
          <label>Last Name:</label>
          {{lastName}}
  </div>

      <div style="padding-bottom:5px;">
          <label>Artist Name:</label>
          {{artistName}}
  </div>

      <div style="padding-bottom:5px;">
          <label>Description:</label>
          {{description}}
    </div>

      <div style="padding-bottom:5px;">
      </div>
  </form>
</div>

</body>
</html>
